CMS-MCP/cms-demo-mcp-server/src/main/mule/cms-demo-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd">

    <flow name="get-all-customersFlow" doc:id="d1a4b7e8-0b6a-4b12-8a9d-6f3c0d8a4f9b">
        <mcp:tool-listener doc:name="get_all_customers" doc:id="f3e8b2e5-8d9e-4b1a-bae6-6f3b0c7d8e4a" config-ref="MCP_Tool_Listener_Config" name="get_all_customers" primaryNodeOnly="false">
            <mcp:description><![CDATA[Retrieves all customers from the CMS API]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {},
    "required": []
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <http:request doc:name="HTTP Request" doc:id="c1d8f2b7-9e4c-4b1a-bae6-7f3c1d8b5e6c" config-ref="Streamable_HTTP_Config" method="GET" url="https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/customers" />
        <set-payload doc:name="Convert to String" doc:id="a4e8f3b7-9e4c-4b1a-bae6-8f3c1d8b5e6d" value="#[output application/json --- payload]" mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="b5f8e3b7-9e4c-4b1a-bae6-9f3c1d8b5e6e">
                <set-payload doc:name="Convert Error to String" doc:id="c5e8f3b7-9e4c-4b1a-bae6-0f3c1d8b5e6f" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="get-customer-by-idFlow" doc:id="a1b2c3d4-e5f6-4d9c-8a9d-7f4c1d8b6f7b">
        <mcp:tool-listener doc:name="get_customer_by_id" doc:id="b2c3d4e5-f6a7-4b1a-bae6-8f3c1d8b5e6c" config-ref="MCP_Tool_Listener_Config" name="get_customer_by_id" primaryNodeOnly="false">
            <mcp:description><![CDATA[Retrieves a specific customer by their ID]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {
        "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer"
        }
    },
    "required": [
        "customerId"
    ]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <set-variable doc:name="Set Customer ID" doc:id="c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f" variableName="customerId" value="#[payload.customerId]" />
        <http:request doc:name="HTTP Request" doc:id="d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a" config-ref="Streamable_HTTP_Config" method="GET" url="#['https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/customers/' ++ vars.customerId]" />
        <set-payload doc:name="Convert to String" doc:id="e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b" value="#[output application/json --- payload]" mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c">
                <set-payload doc:name="Convert Error to String" doc:id="a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="create-customerFlow" doc:id="b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e">
        <mcp:tool-listener doc:name="create_customer" doc:id="c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f" config-ref="MCP_Tool_Listener_Config" name="create_customer" primaryNodeOnly="false">
            <mcp:description><![CDATA[Creates a new customer in the CMS]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {
        "name": {
            "type": "string",
            "description": "The name of the customer"
        },
        "email": {
            "type": "string",
            "description": "The email address of the customer"
        },
        "phone": {
            "type": "string",
            "description": "The phone number of the customer"
        }
    },
    "required": [
        "name",
        "email",
        "phone"
    ]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <ee:transform doc:name="Transform to Customer JSON" doc:id="d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        name: payload.name,
                        email: payload.email,
                        phone: payload.phone default ""
                    }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request doc:name="HTTP Request" doc:id="e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b" config-ref="Streamable_HTTP_Config" method="POST" url="https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/customers" />
        <set-payload doc:name="Convert to String" doc:id="f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c" value="#[output application/json --- payload]" mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d">
                <set-payload doc:name="Convert Error to String" doc:id="b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="update-customerFlow" doc:id="c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f">
        <mcp:tool-listener doc:name="update_customer" doc:id="d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a" config-ref="MCP_Tool_Listener_Config" name="update_customer" primaryNodeOnly="false">
            <mcp:description><![CDATA[Updates an existing customer information]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {
        "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer"
        },
        "name": {
            "type": "string",
            "description": "The name of the customer"
        },
        "email": {
            "type": "string",
            "description": "The email address of the customer"
        },
        "phone": {
            "type": "string",
            "description": "The phone number of the customer"
        }
    },
    "required": [
        "customerId",
        "name",
        "email",
        "phone"
    ]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <set-variable doc:name="Set Customer ID" doc:id="e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b" variableName="customerId" value="#[payload.customerId]" />
        <ee:transform doc:name="Transform to Customer JSON" doc:id="f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        (name: payload.name) if (payload.name != null),
                        (email: payload.email) if (payload.email != null),
                        (phone: payload.phone) if (payload.phone != null)
                    }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request doc:name="HTTP Request" doc:id="a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d" config-ref="Streamable_HTTP_Config" method="PUT" url="#['https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/customers/' ++ vars.customerId]" />
        <set-payload doc:name="Convert to String" doc:id="b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e" value="#[output application/json --- payload]" mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f">
                <set-payload doc:name="Convert Error to String" doc:id="d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="delete-customerFlow" doc:id="d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a">
        <mcp:tool-listener doc:name="delete_customer" doc:id="e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b" config-ref="MCP_Tool_Listener_Config" name="delete_customer" primaryNodeOnly="false">
            <mcp:description><![CDATA[Deletes a customer from the CMS]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {
        "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer to delete"
        }
    },
    "required": [
        "customerId"
    ]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <set-variable doc:name="Set Customer ID" doc:id="f6a7b8c9-d0e1-4f2a-3b4c-5d6e-7f8a9b0c" variableName="customerId" value="#[payload.customerId]" />
        <http:request doc:name="HTTP Request" doc:id="a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d" config-ref="Streamable_HTTP_Config" method="DELETE" url="#['https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/customers/' ++ vars.customerId]" />
        <set-payload doc:name="Convert to String" doc:id="b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e" value='#[output application/json --- {"message": "Customer deleted successfully", "customerId": vars.customerId}]' mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f">
                <set-payload doc:name="Convert Error to String" doc:id="d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="get-all-cardsFlow" doc:id="e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b">
        <mcp:tool-listener doc:name="get_all_cards" doc:id="f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c" config-ref="MCP_Tool_Listener_Config" name="get_all_cards" primaryNodeOnly="false">
            <mcp:description><![CDATA[Retrieves all cards from the CMS API]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {},
    "required": []
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <http:request doc:name="HTTP Request" doc:id="a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d" config-ref="Streamable_HTTP_Config" method="GET" url="https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/cards" />
        <set-payload doc:name="Convert to String" doc:id="b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e" value="#[output application/json --- payload]" mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f">
                <set-payload doc:name="Convert Error to String" doc:id="d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="get-card-by-idFlow" doc:id="f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c">
        <mcp:tool-listener doc:name="get_card_by_id" doc:id="a7b8c9d0-e1f2-4a3b-4c5d-6e7f8a9b0c1d" config-ref="MCP_Tool_Listener_Config" name="get_card_by_id" primaryNodeOnly="false">
            <mcp:description><![CDATA[Retrieves a specific card by its ID]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {
        "cardId": {
            "type": "string",
            "description": "The unique identifier of the card"
        }
    },
    "required": [
        "cardId"
    ]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <set-variable doc:name="Set Card ID" doc:id="b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e" variableName="cardId" value="#[payload.cardId]" />
        <http:request doc:name="HTTP Request" doc:id="c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f" config-ref="Streamable_HTTP_Config" method="GET" url="#['https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/cards/' ++ vars.cardId]" />
        <set-payload doc:name="Convert to String" doc:id="d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a" value="#[output application/json --- payload]" mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b">
                <set-payload doc:name="Convert Error to String" doc:id="f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="create-cardFlow" doc:id="a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d">
        <mcp:tool-listener doc:name="create_card" doc:id="b8c9d0e1-f2a3-4b4c-5d6e-7f8a9b0c1d2e" config-ref="MCP_Tool_Listener_Config" name="create_card" primaryNodeOnly="false">
            <mcp:description><![CDATA[Creates a new card in the CMS]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {
        "customerId": {
            "type": "string",
            "description": "The ID of the customer who owns this card"
        },
        "cardNumber": {
            "type": "string",
            "description": "The card number"
        },
        "cardType": {
            "type": "string",
            "description": "The type of card"
        },
        "expiryDate": {
            "type": "string",
            "description": "The expiry date of the card"
        }
    },
    "required": [
        "customerId",
        "cardNumber",
        "cardType",
        "expiryDate"
    ]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <ee:transform doc:name="Transform to Card JSON" doc:id="c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        customerId: payload.customerId,
                        cardNumber: payload.cardNumber,
                        cardType: payload.cardType,
                        expiryDate: payload.expiryDate default ""
                    }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request doc:name="HTTP Request" doc:id="d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a" config-ref="Streamable_HTTP_Config" method="POST" url="https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/cards" />
        <set-payload doc:name="Convert to String" doc:id="e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b" value="#[output application/json --- payload]" mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c">
                <set-payload doc:name="Convert Error to String" doc:id="a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="update-cardFlow" doc:id="b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e">
        <mcp:tool-listener doc:name="update_card" doc:id="c9d0e1f2-a3b4-4c5d-6e7f-8a9b0c1d2e3f" config-ref="MCP_Tool_Listener_Config" name="update_card" primaryNodeOnly="false">
            <mcp:description><![CDATA[Updates an existing card information]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {
        "cardId": {
            "type": "string",
            "description": "The unique identifier of the card"
        },
        "cardNumber": {
            "type": "string",
            "description": "The card number"
        },
        "cardType": {
            "type": "string",
            "description": "The type of card"
        },
        "expiryDate": {
            "type": "string",
            "description": "The expiry date of the card"
        }
    },
    "required": [
        "cardId",
        "cardNumber",
        "cardType",
        "expiryDate"
    ]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <set-variable doc:name="Set Card ID" doc:id="d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a" variableName="cardId" value="#[payload.cardId]" />
        <ee:transform doc:name="Transform to Card JSON" doc:id="e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        (cardNumber: payload.cardNumber) if (payload.cardNumber != null),
                        (cardType: payload.cardType) if (payload.cardType != null),
                        (expiryDate: payload.expiryDate) if (payload.expiryDate != null)
                    }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request doc:name="HTTP Request" doc:id="f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c" config-ref="Streamable_HTTP_Config" method="PUT" url="#['https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/cards/' ++ vars.cardId]" />
        <set-payload doc:name="Convert to String" doc:id="a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d" value="#[output application/json --- payload]" mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e">
                <set-payload doc:name="Convert Error to String" doc:id="c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="delete-cardFlow" doc:id="c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f">
        <mcp:tool-listener doc:name="delete_card" doc:id="d0e1f2a3-b4c5-4d6e-7f8a-9b0c1d2e3f4a" config-ref="MCP_Tool_Listener_Config" name="delete_card" primaryNodeOnly="false">
            <mcp:description><![CDATA[Deletes a card from the CMS]]></mcp:description>
            <mcp:parameters-schema><![CDATA[{
    "type": "object",
    "properties": {
        "cardId": {
            "type": "string",
            "description": "The unique identifier of the card to delete"
        }
    },
    "required": [
        "cardId"
    ]
}]]></mcp:parameters-schema>
            <mcp:responses>
                <mcp:text-tool-response-content text="#[payload]" />
            </mcp:responses>
        </mcp:tool-listener>
        <set-variable doc:name="Set Card ID" doc:id="e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b" variableName="cardId" value="#[payload.cardId]" />
        <http:request doc:name="HTTP Request" doc:id="f2a3b4c5-d6e7-4f8a-9b0c-1d2e3f4a5b6c" config-ref="Streamable_HTTP_Config" method="DELETE" url="#['https://cms-demo-api-impl-dl2x0l.5sc6y6-4.usa-e2.cloudhub.io/api/cards/' ++ vars.cardId]" />
        <set-payload doc:name="Convert to String" doc:id="a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d" value='#[output application/json --- {"message": "Card deleted successfully", "cardId": vars.cardId}]' mimeType="text/plain" />
        <error-handler>
            <on-error-propagate doc:name="On Error Propagate" doc:id="b4c5d6e7-f8a9-4b0c-1d2e-3f4a5b6c7d8e">
                <set-payload doc:name="Convert Error to String" doc:id="c5d6e7f8-a9b0-4c1d-2e3f-4a5b6c7d8e9f" value='#[output application/json --- {"error": error.description, "statusCode": error.errorType.identifier}]' mimeType="text/plain" />
            </on-error-propagate>
        </error-handler>
    </flow>

</mule> 
