mule-imp-cms-test/src/main/mule/cms-demo-api-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
  xmlns:http="http://www.mulesoft.org/schema/mule/http" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
  
  <!-- Main APIKit Router Flow -->
  <flow name="cms-demo-api-main" doc:name="cms-demo-api-main">
    <http:listener config-ref="HTTP_Listener_config" path="/api/*" doc:name="HTTP Listener">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body><![CDATA[#[payload]]]></http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="cms-demo-api-config" doc:name="APIKit Router"/>
    <error-handler>
      <on-error-propagate type="APIKIT:BAD_REQUEST" doc:name="BAD_REQUEST">
        <ee:transform doc:name="Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "BAD_REQUEST",
  message: "The request could not be understood by the server due to malformed syntax.",
  timestamp: now(),
  path: attributes.requestPath
}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_FOUND" doc:name="NOT_FOUND">
        <ee:transform doc:name="Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "NOT_FOUND",
  message: "The requested resource could not be found.",
  timestamp: now(),
  path: attributes.requestPath
}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" doc:name="METHOD_NOT_ALLOWED">
        <ee:transform doc:name="Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "METHOD_NOT_ALLOWED",
  message: "The method specified in the request is not allowed.",
  timestamp: now(),
  path: attributes.requestPath
}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:NOT_ACCEPTABLE" doc:name="NOT_ACCEPTABLE">
        <ee:transform doc:name="Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "NOT_ACCEPTABLE",
  message: "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.",
  timestamp: now(),
  path: attributes.requestPath
}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
      <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE" doc:name="UNSUPPORTED_MEDIA_TYPE">
        <ee:transform doc:name="Error Response">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "UNSUPPORTED_MEDIA_TYPE",
  message: "The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.",
  timestamp: now(),
  path: attributes.requestPath
}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  
  <!-- GET /customers - Retrieve all customers -->
  <flow name="get:\customers:cms-demo-api-config" doc:name="get:\customers:cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="GET /customers - Query params: #[attributes.queryParams]"/>
    <set-variable value="#[attributes.queryParams default {}]" doc:name="Save Query Params" variableName="queryParams"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <http:request method="GET" doc:name="GET /admin/customers" config-ref="CMS_Backend_HTTP_Config" path="/customers">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken
}]]]></http:headers>
      <http:query-params><![CDATA[#[output application/java
---
vars.queryParams]]]></http:query-params>
    </http:request>
    <logger level="INFO" doc:name="Log Response" message="GET /customers - Returned #[sizeOf(payload)] customers"/>
  </flow>
  
  <!-- GET /customers/{id} - Retrieve specific customer -->
  <flow name="get:\customers\(id):cms-demo-api-config" doc:name="get:\customers\(id):cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="GET /customers/#[attributes.uriParams.id]"/>
    <set-variable value="#[attributes.uriParams.id]" doc:name="Save Customer ID" variableName="customerId"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <http:request method="GET" doc:name="GET /admin/customers/{id}" config-ref="CMS_Backend_HTTP_Config" path="#['/customers/' ++ vars.customerId]">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken
}]]]></http:headers>
    </http:request>
    <logger level="INFO" doc:name="Log Success" message="GET /customers/#[vars.customerId] - Customer found"/>
  </flow>
  
  <!-- POST /customers - Create new customer -->
  <flow name="post:\customers:application\json:cms-demo-api-config" doc:name="post:\customers:application\json:cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="POST /customers - Creating new customer"/>
    <set-variable value="#[payload]" doc:name="Save Request Body" variableName="requestBody"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <set-payload value="#[vars.requestBody]" doc:name="Restore Payload"/>
    <http:request method="POST" doc:name="POST /admin/customers" config-ref="CMS_Backend_HTTP_Config" path="/customers">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken,
	"Content-Type" : "application/json"
}]]]></http:headers>
    </http:request>
    <logger level="INFO" doc:name="Log Created" message="POST /customers - Customer created"/>
    <set-variable value="201" doc:name="Set 201 Status" variableName="httpStatus"/>
  </flow>
  
  <!-- PUT /customers/{id} - Update customer -->
  <flow name="put:\customers\(id):application\json:cms-demo-api-config" doc:name="put:\customers\(id):application\json:cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="PUT /customers/#[attributes.uriParams.id] - Updating customer"/>
    <set-variable value="#[attributes.uriParams.id]" doc:name="Save Customer ID" variableName="customerId"/>
    <set-variable value="#[payload]" doc:name="Save Request Body" variableName="requestBody"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <set-payload value="#[vars.requestBody]" doc:name="Restore Payload"/>
    <http:request method="PUT" doc:name="PUT /admin/customers/{id}" config-ref="CMS_Backend_HTTP_Config" path="#['/customers/' ++ vars.customerId]">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken,
	"Content-Type" : "application/json"
}]]]></http:headers>
    </http:request>
    <logger level="INFO" doc:name="Log Success" message="PUT /customers/#[vars.customerId] - Customer updated"/>
  </flow>
  
  <!-- DELETE /customers/{id} - Delete customer -->
  <flow name="delete:\customers\(id):cms-demo-api-config" doc:name="delete:\customers\(id):cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="DELETE /customers/#[attributes.uriParams.id]"/>
    <set-variable value="#[attributes.uriParams.id]" doc:name="Save Customer ID" variableName="customerId"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <http:request method="DELETE" doc:name="DELETE /admin/customers/{id}" config-ref="CMS_Backend_HTTP_Config" path="#['/customers/' ++ vars.customerId]">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken
}]]]></http:headers>
    </http:request>
    <set-variable value="204" doc:name="Set 204 Status" variableName="httpStatus"/>
    <set-payload value="#[null]" doc:name="Empty Payload"/>
    <logger level="INFO" doc:name="Log Success" message="DELETE /customers/#[vars.customerId] - Customer deleted"/>
  </flow>
  
  <!-- GET /cards - Retrieve all cards -->
  <flow name="get:\cards:cms-demo-api-config" doc:name="get:\cards:cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="GET /cards - Query params: #[attributes.queryParams]"/>
    <set-variable value="#[attributes.queryParams default {}]" doc:name="Save Query Params" variableName="queryParams"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <http:request method="GET" doc:name="GET /admin/cards" config-ref="CMS_Backend_HTTP_Config" path="/cards">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken
}]]]></http:headers>
      <http:query-params><![CDATA[#[output application/java
---
vars.queryParams]]]></http:query-params>
    </http:request>
    <logger level="INFO" doc:name="Log Response" message="GET /cards - Returned #[sizeOf(payload.data default [])] cards"/>
  </flow>
  
  <!-- GET /cards/{id} - Retrieve specific card -->
  <flow name="get:\cards\(id):cms-demo-api-config" doc:name="get:\cards\(id):cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="GET /cards/#[attributes.uriParams.id]"/>
    <set-variable value="#[attributes.uriParams.id]" doc:name="Save Card ID" variableName="cardId"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <http:request method="GET" doc:name="GET /admin/cards/{id}" config-ref="CMS_Backend_HTTP_Config" path="#['/cards/' ++ vars.cardId]">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken
}]]]></http:headers>
    </http:request>
    <logger level="INFO" doc:name="Log Success" message="GET /cards/#[vars.cardId] - Card found"/>
  </flow>
  
  <!-- POST /cards - Create new card -->
  <flow name="post:\cards:application\json:cms-demo-api-config" doc:name="post:\cards:application\json:cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="POST /cards - Creating new card"/>
    <set-variable value="#[payload]" doc:name="Save Request Body" variableName="requestBody"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <set-payload value="#[vars.requestBody]" doc:name="Restore Payload"/>
    <http:request method="POST" doc:name="POST /admin/cards" config-ref="CMS_Backend_HTTP_Config" path="/cards">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken,
	"Content-Type" : "application/json"
}]]]></http:headers>
    </http:request>
    <logger level="INFO" doc:name="Log Created" message="POST /cards - Card created"/>
    <set-variable value="201" doc:name="Set 201 Status" variableName="httpStatus"/>
  </flow>
  
  <!-- PUT /cards/{id} - Update card -->
  <flow name="put:\cards\(id):application\json:cms-demo-api-config" doc:name="put:\cards\(id):application\json:cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="PUT /cards/#[attributes.uriParams.id] - Updating card"/>
    <set-variable value="#[attributes.uriParams.id]" doc:name="Save Card ID" variableName="cardId"/>
    <set-variable value="#[payload]" doc:name="Save Request Body" variableName="requestBody"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <set-payload value="#[vars.requestBody]" doc:name="Restore Payload"/>
    <http:request method="PUT" doc:name="PUT /admin/cards/{id}" config-ref="CMS_Backend_HTTP_Config" path="#['/cards/' ++ vars.cardId]">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken,
	"Content-Type" : "application/json"
}]]]></http:headers>
    </http:request>
    <logger level="INFO" doc:name="Log Success" message="PUT /cards/#[vars.cardId] - Card updated"/>
  </flow>
  
  <!-- DELETE /cards/{id} - Delete card -->
  <flow name="delete:\cards\(id):cms-demo-api-config" doc:name="delete:\cards\(id):cms-demo-api-config">
    <logger level="INFO" doc:name="Log Request" message="DELETE /cards/#[attributes.uriParams.id]"/>
    <set-variable value="#[attributes.uriParams.id]" doc:name="Save Card ID" variableName="cardId"/>
    <flow-ref doc:name="Get Bearer Token" name="get-bearer-token-subflow"/>
    <http:request method="DELETE" doc:name="DELETE /admin/cards/{id}" config-ref="CMS_Backend_HTTP_Config" path="#['/cards/' ++ vars.cardId]">
      <http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.bearerToken
}]]]></http:headers>
    </http:request>
    <set-variable value="204" doc:name="Set 204 Status" variableName="httpStatus"/>
    <set-payload value="#[null]" doc:name="Empty Payload"/>
    <logger level="INFO" doc:name="Log Success" message="DELETE /cards/#[vars.cardId] - Card deleted"/>
  </flow>
  
  <!-- APIKit Console Flow with gzip fix -->
  <flow name="cms-demo-api-console" doc:name="cms-demo-api-console">
    <http:listener config-ref="HTTP_Listener_config" path="/console/*" doc:name="HTTP Listener">
      <http:response>
        <http:headers>#[
          if (attributes.queryParams.amf?) 
            {"Content-Encoding": "gzip"} 
          else 
            {}
        ]</http:headers>
      </http:response>
    </http:listener>
    <apikit:console config-ref="cms-demo-api-config" doc:name="APIkit Console"/>
  </flow>
  
  <!-- Authentication Sub-Flow -->
  <sub-flow name="get-bearer-token-subflow" doc:name="get-bearer-token-subflow">
    <choice doc:name="Check if token exists">
      <when expression="#[vars.bearerToken != null and vars.bearerToken != '']">
        <logger level="DEBUG" doc:name="Token exists" message="Using existing bearer token"/>
      </when>
      <otherwise>
        <logger level="INFO" doc:name="Login required" message="No bearer token found, logging in to backend"/>
        <ee:transform doc:name="Login Request">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "username": p('cms.backend.username'),
  "password": p('cms.backend.password')
}]]></ee:set-payload>
          </ee:message>
        </ee:transform>
        <http:request method="POST" doc:name="POST /admin/login" config-ref="CMS_Backend_HTTP_Config" path="/login">
          <http:response-validator>
            <http:success-status-code-validator values="200..299"/>
          </http:response-validator>
        </http:request>
        <ee:transform doc:name="Extract Bearer Token">
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="bearerToken"><![CDATA[%dw 2.0
output application/java
---
payload.data.token]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Token obtained" message="Bearer token successfully obtained"/>
      </otherwise>
    </choice>
  </sub-flow>
  
</mule> 