agentfabric-webstuff/agent-broker-web-ui/src/main/mule/agent-broker-web-ui.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <!-- Flow 1: Serve index.html -->
  <flow name="serve-index-html" doc:id="flow-index">
    <http:listener doc:name="HTTP Listener" doc:id="listener-index" config-ref="HTTP_Listener_Config" path="/">
      <http:response>
        <http:headers><![CDATA[#[{'Content-Type': 'text/html'}]]]></http:headers>
      </http:response>
    </http:listener>
    <set-payload value="#[readUrl('classpath://web/index.html', 'text/plain')]" doc:name="Set Payload"/>
  </flow>

  <!-- Flow 2: Serve CSS files -->
  <flow name="serve-css" doc:id="flow-css">
    <http:listener doc:name="HTTP Listener" doc:id="listener-css" config-ref="HTTP_Listener_Config" path="/styles.css">
      <http:response>
        <http:headers><![CDATA[#[{'Content-Type': 'text/css'}]]]></http:headers>
      </http:response>
    </http:listener>
    <set-payload value="#[readUrl('classpath://web/styles.css', 'text/plain')]" doc:name="Set Payload"/>
  </flow>

  <!-- Flow 3: Serve JavaScript files -->
  <flow name="serve-js" doc:id="flow-js">
    <http:listener doc:name="HTTP Listener" doc:id="listener-js" config-ref="HTTP_Listener_Config" path="/app.js">
      <http:response>
        <http:headers><![CDATA[#[{'Content-Type': 'application/javascript'}]]]></http:headers>
      </http:response>
    </http:listener>
    <set-payload value="#[readUrl('classpath://web/app.js', 'text/plain')]" doc:name="Set Payload"/>
  </flow>

  <!-- Flow 4: API Query Proxy to Agent Broker -->
  <flow name="api-query-proxy" doc:id="flow-api">
    <http:listener doc:name="HTTP Listener" doc:id="listener-api" config-ref="HTTP_Listener_Config" path="/api/query" allowedMethods="POST"/>
    
    <logger level="INFO" doc:name="Log Request" message="Received query request"/>
    
    <http:request method="POST" doc:name="Call Agent Broker" doc:id="request-agent" config-ref="HTTP_Request_Config" path="${agent.broker.path}" responseTimeout="300000">
      <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
    </http:request>
    
    <logger level="INFO" doc:name="Log Response" message="#['Agent Broker Response: ' ++ write(payload, 'application/json')]"/>
    
    <set-payload value="#[payload]" doc:name="Pass Through Response" mimeType="application/json"/>
    
    <error-handler>
      <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="ANY">
        <logger level="ERROR" doc:name="Log Error" message="#['Error occurred: ' ++ error.description]"/>
        <set-payload value='#[%dw 2.0
output application/json
---
{
  "jsonrpc": "2.0",
  "error": {
    "code": -1,
    "message": error.description default "Unknown error"
  }
}]' doc:name="Set Error Response" mimeType="application/json"/>
      </on-error-propagate>
    </error-handler>
  </flow>

</mule> 